*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #e7a84b;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;    
    font-size: 70px;
    text-align: center;
    font-family: 'BioRhyme', serif;
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #aacfef;
    margin-top: -80px;
}
.logo{
    width: 15%;
    padding-top: 80px;
    
}
.navigation{
    float: left;
    width:100%;
    background: #84b4dc;
    margin-top: -22px;
}
.navigation ul li{
    display: inline;
}
.navigation li a {
    display: block;
    float: left;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-right: 3px solid #253793;

}
.active{
    background-color: #43a5bb;
}

.navigation li a:hover{
    background: #011132;
    transition: 0.25s;
}
.content{
    background: local;
}
.back-img{
    width: 100%;
    transition-duration: 0.5s,1s;
}
.back-img:hover{
    opacity: 80%;
    width: 110%;
    margin-left: -5%;
    
}
.booking-btn {
    position: absolute;
    top: 75%;
    left: 52%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background:linear-gradient(to right, #af943c 0%, #F4D03F  51%, #d0be64  100%);
    color: white;
    font-size: 16px;
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    border-color: #a6a6e8 ;
    opacity: 94%;
    transition-duration: 0.5s,1s;
}
.booking-btn:hover{
    padding: 30px 30px;
    font-size: 28px;
    background:linear-gradient(to right, #d0be64 0%, #F4D03F  51%, #af943c  100%);
    opacity: 80%; 
}

.content h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 20;
    font-size: 60px;
    color: #3e3e3e;
    padding: 20px 0px 20px 10%;
}
.para{
    padding:5% 25% 10% 20%;
    line-height: 25px;
}
.mySlides{
    padding-left: 10%;
    padding-right: 10%;
    
}

hr{
    position: absolute;
    width: 10%;
    z-index: 3;
    margin-top: 20px;
    margin-left: 45%;
    transition-duration: 0.5s,1s;
}
hr:hover{
    margin-left: 40%;
    width: 20%;
 }
.outro{
    background:linear-gradient(to bottom, #000000 0%, #272727  51%, #242424  100%);
    color: #ebebeb;
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 50px;
    width: 100%;
    padding: 50px 0 50px 0;
    transition-duration: 0.5s,1s;
  }
  .outro p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
  }
.outro:hover{ 
    color: rgb(145, 145, 97);
 }
 .social{
    width: 50px;
    z-index: 5;
    position: relative;
    margin-top: 30px;
    text-decoration: none;
    opacity: 30%;
    transition-duration: 0.5s,1s;
 }
 .social:hover{
    width: 60px;
    margin-top:20px;
    opacity: 60%;
    cursor: pointer;
 }

