*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #6a3328;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;    
    font-size: 70px;
    text-align: center;
    font-family: 'BioRhyme', serif;
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #916b5d;
    margin-top: -80px;
}
.logo{
    width: 15%;
    padding-top: 80px;
    
}
.navigation{
    float: left;
    width:100%;
    background: #909395;
    margin-top: -22px;
}
.navigation ul li{
    display: inline;
}
.navigation li a {
    display: block;
    float: left;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-right: 3px solid #ffffff;

}
.active{
    background-color: #c46354;
}

.navigation li a:hover{
    background: #4d515d;
    transition: 0.25s;
}
.content{
    background: local;
}
.back-img{
    width: 100%;
    transition-duration: 0.5s,1s;
}
.back-img:hover{
    opacity: 80%;
    width: 110%;
    margin-left: -5%;
    
}

.format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  
  body {
    background-color: #ffffff;
  }
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    font-family: 'BioRhyme', serif;
    font-family: 'Open Sans', sans-serif;
        margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    opacity: 85%;
    overflow: hidden;
    text-decoration: none;
  
    position: relative;
  }
  .item_link:hover,
  .item_link:hover .item_date {
    text-decoration: none;
    color: #FFF;
  }
  .item_link:hover .item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .item_bg {
    height: 128px;
    width: 128px;
    background-color: #d7d4cd;
    opacity: 60%;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .item:nth-child(2n) .item_bg {
    background-color: #916b5d;
  }
  .item:nth-child(3n) .item_bg {
    background-color: #716a6a;
  }
  .item:nth-child(4n) .item_bg {
    background-color: #4d515d;
  }
  .item:nth-child(5n) .item_bg {
    background-color: #4d515d;
  }
  .item:nth-child(6n) .item_bg {
    background-color: #916b5d;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .item_link {
      padding: 22px 40px;
    }
    .item_date-box {
      font-size: 16px;
    }
  }

hr{
    position: absolute;
    width: 10%;
    z-index: 3;
    margin-top: 20px;
    margin-left: 45%;
    transition-duration: 0.5s,1s;
}
hr:hover{
    margin-left: 40%;
    width: 20%;
 }
.outro{
    background:linear-gradient(to bottom, #000000 0%, #272727  51%, #242424  100%);
    color: #ebebeb;
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 50px;
    width: 100%;
    padding: 50px 0 50px 0;
    transition-duration: 0.5s,1s;
  }
  .outro p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
  }
.outro:hover{ 
    color: rgb(145, 145, 97);
 }
 .social{
    width: 50px;
    z-index: 5;
    position: relative;
    margin-top: 30px;
    text-decoration: none;
    opacity: 30%;
    transition-duration: 0.5s,1s;
 }
 .social:hover{
    width: 60px;
    margin-top:20px;
    opacity: 60%;
    cursor: pointer;
 }

